# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Editor directories and files
.idea/

# OS files
.DS_Store
Thumbs.db
